.fashion {
    .mini-slide {
        background-image: url('../img/fashion/fashion-01.jpg');
        background-position: -25px 0px;
        background-size: cover;
    }
    .slider__subtitle {
        background-color: #6e747a;
        width: 60px;
    }
    .main__img {
        margin-right: 20px;
    }
}