.main__item {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dde2e6;
}
.main__head {
    padding: 20px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dde2e6;
}
.main__title {
    font-size: 24px;
    color: #202326;
    font-weight: 300;
    text-transform: capitalize;
}
.main__link {
    position: relative;
    font-size: 13px;
    color: #2a96d4;
    text-align: right;
    font-weight: 600;

    &::after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        width: 0%;
        background-color: #2a96d4;
        transition: all 0.2s ease-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}
.main__body {
    display: flex;
    margin-top: -1px;
}
.main__card {
    position: relative;
    padding: 25px 54px 30px 54px;
    border-right: 1px solid #dde2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    &:last-child {
        border-right: none;
    }
}
.main__img {
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.main__text {
    font-size: 16px;
    color: #202326;
    line-height: 1.625;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}
.main__price {
    font-size: 14px;
    line-height: 1.857;
    text-align: center;
    font-weight: 600;
}
.main__price--old {
    color: #a3a9ad;
    text-decoration: line-through;
    margin-right: 10px;
}
.main__price--new {
    color: #202326;
}
.main__minicards {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__minicard {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 25px;
    border-right: none;
    &:nth-child(1) {
        border: 1px solid #dde2e6;
        border-right: none;
        border-top: none;
    }
    &:nth-child(2) {
        border: 1px solid #dde2e6;
        border-right: none;
        border-top: none;
    }
    &:nth-child(3) {
        border: 1px solid #dde2e6;
        border-right: none;
        border-top: none;
        border-bottom: none;
    }
    &:nth-child(4) {
        border: 1px solid #dde2e6;
        border-right: none;
        border-top: none;
        border-bottom: none;
    }
}
.main__desc {
    display: flex;
    flex-direction: column;
    align-items: start;
}