.sport {
    .mini-slide {
        background-image: url('../img/sport/sport-01.jpg');
        background-position: 85%;
        background-size: 30%;
    }
    .slider__subtitle {
        background-color: #6e747a;
        width: 60px;
    }
    .main__img {
        margin-right: 20px;
    }
}